<img src="../../assets/forca.png" alt="forca">
<img *ngIf="mistakes < 6" class="circle" src="../../assets/circle-removebg-preview.png">
<img *ngIf="mistakes < 6" class="arm1" src="../../assets/arms.png">
<img *ngIf="mistakes < 5" class="arm2" src="../../assets/arms.png">
<img *ngIf="mistakes < 4" class="leg1" src="../../assets/arms.png">
<img *ngIf="mistakes < 3" class="leg2" src="../../assets/arms.png">
<img *ngIf="mistakes < 2" class="body" src="../../assets/body.png">
<img *ngIf="mistakes == 0" class="total" src="../../assets/total.png"> 